rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Default deny
    match /{document=**} {
      allow read, write: if false;
    }

    // Helpers
    function isSignedIn() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return isSignedIn();
    }

    function isValidUser(data) {
      return true;
    }

    match /users/{userId} {
      allow read: if true;
      allow write: if true;
      
      match /logs/{logId} {
        allow read, write: if true;
      }
    }
  }
}
